
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

a {
    color: #165873;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    color: #F2F2F2;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    color: #F2F2F2;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #165873;
}

p {
    line-height: 1.6;
}
